#!/bin/sh


alias g="git"
alias gst="g status"
alias ga="g add ."
alias gc="g ci -m"
alias gp="g push"


alias d="sudo docker"
alias dcr="sudo docker-compose run --rm"


alias commit="commit.sh"


alias doome="doom run -nw"
