#!/bin/sh


alias g="git"
alias gst="git status"
alias ga="git add ."
alias gc="git commit -m"
alias gp="git push"


alias d="sudo docker"
alias dckc="sudo docker-compose"
alias dckcr="sudo docker-compose run --rm"
alias dck="sudo docker"

alias shutdn="sudo shutdown now"


alias py="python3"


alias commit="commit.sh"


alias doome="doom run -nw"



alias shtd="sudo shutdown now"
